*{
    margin: 0;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Inria Serif', serif;
    /* font-family: 'MonteCarlo', cursive; */
}

.headind{
    border: 2px solid red;
    height: 250px;
}
.headind_cont{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 70px;
}
.headind_menu_1{
    border: 2px solid green;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}
.headind_menu_2{
    border: 2px solid green;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    width: 200px;
}
.headind_menu_txt{
    
}