<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inria+Serif&family=MonteCarlo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Index.html</title>
</head>
<body>
    <header class="headind">
        <nav class="headind_cont">
            <ul class="headind_menu_1">
                <li class="headind_menu_txt"><a href="{{ url_for('publications') }}">Publications</a></li>
                <li class="headind_menu_txt"><a href="{{ url_for('monespace') }}">Mon espace</a></li>
                <li class="headind_menu_txt"><a href="{{ url_for('panier') }}">Panier</a></li>
                <li class="headind_menu_txt" class="menhover" style="color: #9C66E1;"><a href="#">A propos</a></li>
            </ul>
            <ul class="headind_menu_2">
                <div class="espachead_prof">
                    <div class=""></div>
                </div>
            </ul>
        </nav>
        <div class="headind_jlotxt">
            <div class="headind_jlotxt_art">
                <p class="">JLO_ART est une plateforme ouverte a tous les amoureux de tableau peint. Ici vous</p>
                <p class="">pouvez  poster vos toiles, les voir ou acheter assez facilement...</p>
            </div>
        </div>
    </header>
    <main class="apropos_main">
        <section class="apropos_sect">
            <div class="apropos_cont_imgtxt">
                <div class="apropos_imgulls"></div>
                <div class="apropos_txt">Creer  a NaN en 2023 JLO_ART permet a tous ses artistes amoureux de la culture africaine de pouvoir exprimer leurs oeuvres en les exposants au grand public au plan nationnal voir internationnal afin de gagner en visibilite </div>
            </div>
            <div class="aproposfond">
                <div class="apropos_imgfond"></div>
                <div class="apropos_nomfond_cont">
                    <p class="apropos_titfond">FONDATEUR DE JLO_ART</p>
                    <p class="apropos_nomfond">HOUPHOUET LE MENTAL</p>
                </div>
            </div>
        </section>
    </main>
</body>
<footer>
    <div class="foot_ind_cont">
        <div class="foot_ind_cont_txtcopcont">
            <p class="foot_ind_cont_txtcop">Copyright © 2023 JLO_art - Tous droits réservés</p>
            <p class="foot_ind_cont_txtcont">Nous contacter | Politique de  confidentialité | Nos partenaires | Qui sommes-nous?</p>
        </div>
        <div class="foot_ind_cont_rs">
            <p class="foot_ind_rs_txt">Suivez-nous:</p>
            <div class="foot_ind_cont_rs_img">
                <div class="foot_ind_rs_img_insta"></div>
                <div class="foot_ind_rs_img_facebk"></div>
                <div class="foot_ind_rs_img_linked"></div>
            </div>
        </div>
    </div>
</footer>
</html>