<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mon_espace</title>
</head>
<body>
    <header class="espachead">
        <nav class="headind_cont">
            <ul class="headind_menu_1">
                <!-- <li class="headind_menu_txt">Accueil</li> -->
                <li class="headind_menu_txt"><a href="{{ url_for('publications') }}">Publications</a></li>
                <li class="headind_menu_txt" class="menhover" style="color: #9C66E1;"><a href="#">Mon espace</a></li>
                <li class="headind_menu_txt"><a href="{{ url_for('panier') }}">Panier</a></li>
                <li class="headind_menu_txt"><a href="{{ url_for('apropos') }}">A propos</a></li>
            </ul>
            <ul class="headind_menu_2">
            <div class="espachead_prof">
                <div class=""></div>
            </div>
            </ul>
        </nav>
    </header>
    <main class="espacmain">
        {%if users%}
        <div class="espac_enr_cont">
            <form action="{{url_for('modifierspe', id=users.id)}}" method="post" class="espac_enr" enctype="multipart/form-data">
                <div class="espac_inp_cont">
                    <input type="tel" name="nompein" value="{{users.namepainter}}" placeholder="Nom du peintre" id="" class="espac_nompeint" required>
                    <input type="text" name="prixtoil" value="{{users.price}}" placeholder="Prix de toile" id="" class="espac_prxtoil">
                    <input type="file"name="imgtoil" id="" placeholder="Fichier img jpg, jep, pdf" class="espac_imgtoil">
                    <input type="text"name="description" value="{{users.description}}" id="" placeholder="Description" class="espac_descr">
                </div>
                <div class="espac_btn_cont">
                    <input type="submit" value="Modifier" name="" id="" class="espac_soum">
                </div>
            </form>
        </div>
        {%else%}
        <div class="espac_enr_cont">
            <form action="/soumettre" method="post" class="espac_enr" enctype="multipart/form-data">
                <div class="espac_inp_cont">
                    <input type="tel" name="nompein" placeholder="Nom du peintre" id="" class="espac_nompeint" required>
                    <input type="text" name="prixtoil" placeholder="Prix de toile" id="" class="espac_prxtoil">
                    <input type="file"name="imgtoil" id="" placeholder="Fichier img jpg, jep, pdf" class="espac_imgtoil">
                    <input type="text"name="description" id="" placeholder="Description" class="espac_descr">
                </div>
                <div class="espac_btn_cont">
                    <input type="submit" value="soumettre" name="" id="" class="espac_soum">
                </div>
            </form>
        </div>
        {%endif%}
        <div class="espac_ajout">
            <div class="espac_ajout_ss">
                <p class="espac_ajout_titl">Mes ajouts</p>
                <div class="espac_ajout_cont">
                    {% for space in spaces %}
                    <div class="espac_ajout_lin1">
                        <p class="espac_ajout_lin1_nom">{{space.namepainter}}</p><p class="espac_ajout_lin1_prix">{{space.price}} FCFA</p><p class="espac_ajout_lin1_descr">{{space.description}}</p><p class="espac_ajout_lin1_img"></p><a href="{{ url_for('modifierspace', id=space.id) }}">Modifier</a>/<a href="{{url_for('supprimerspace', id=space.id)}}">supprimer</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <div class="foot_ind_cont">
        <div class="foot_ind_cont_txtcopcont">
            <p class="foot_ind_cont_txtcop">Copyright © 2023 JLO_art - Tous droits réservés</p>
            <p class="foot_ind_cont_txtcont">Nous contacter | Politique de  confidentialité | Nos partenaires | Qui sommes-nous?</p><br>
        </div>
        <div class="foot_ind_cont_rs">
            <p class="foot_ind_rs_txt">Suivez-nous:</p>
            <div class="foot_ind_cont_rs_img">
                <div class="foot_ind_rs_img_insta"></div>
                <div class="foot_ind_rs_img_facebk"></div>
                <div class="foot_ind_rs_img_linked"></div>
            </div>
        </div>
    </div>
</footer>
</html>